html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black; /* optionnel : couleur de fond */
  }
  
  .centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333; /* couleur du texte */
  }
  
  #title {
    font-size: 12vw;    /* taille du titre */
    color: white;       /* couleur bleue */
    margin-bottom: 1em;
    text-decoration: underline;
  }
  
  #rule {
    font-size: 6vw;     /* taille de la règle */
    color: white;          /* couleur foncée */
  }